<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initialscale=1.0">
    <th:block th:replace="~{layout::link-css}"></th:block>
    <th:block th:replace="~{layout::custom-css}"></th:block>
    <title>Add Role</title>
</head>
<body>
<th:block th:replace="~{layout::header}"></th:block>
<div class="container">
    <h1>Add Role</h1>
    <form action="#" th:action="'/Roles/create'" th:object="${role}" method="post">
        <div class="col-6 mb-3">
            <label class="form-label">RoleName:</label><span
                class="text-danger">*</span>
            <input class="form-control" type="text" placeholder="Enter RoleName"
                   th:field="*{name}" autofocus>
        </div>

        <input type="submit" class="btn btn-primary" value="Save"/>
    </form>
    <br>
    <a th:href="@{/Roles}">Back to List</a>
</div>
<th:block th:replace="~{layout::footer}"></th:block>
</body>
</html>